body {
  background-color: rgb(0, 0, 0);
}

a {
  color:rgb(0, 255, 234);
}

.nav-item {
  /* background-color: cadetblue; */
  color: rgb(0, 255, 234)
}



.navbar h1 {
  font-size: 40px;
}

.navbar-brand {
  color:rgb(0, 255, 200);
}


.navbar {
  min-height: 200px;
  font-size: 20px;
  background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5) ), url("../../public/background_picture.png");
  background-position: center;
  background-size: cover;
  padding: 20px;
}


#profile_pic {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin: 20px;
}



.nav-item a {
  color:rgb(255, 0, 221)
}
.nav-item a:hover {
  color:rgb(170, 2, 148)
}

.navbar-light .navbar-brand {
  color:rgb(0, 255, 200);
}

.navbar-light .navbar-nav .nav-link.active{
  color:rgb(248, 53, 255);
  /* font-size: 24px; */
}


.navbar-light .navbar-nav .nav-link {
  color:rgb(0, 230, 210);
}

.navbar-light .navbar-nav .nav-link:hover {
  color:rgb(161, 3, 167)
}

.navbar-light .navbar-toggler {
  border-color: whitesmoke;
}

h1 {
  color:rgb(0, 217, 255)
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%28255, 255, 255, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

h2 {
  color:rgb(0, 247, 255);
  padding-bottom: 10px;
}

p {
  color:rgb(133, 251, 255);
  font-size: x-large;
}

h3 {
  color:rgb(0, 247, 255);
}

h4 {
  color:rgb(133, 251, 255);
  margin-bottom: 10px;
}

h4 a:hover {
  color:rgb(206, 0, 224)
}

ul li {
  color:rgb(133, 251, 255);
}

input {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

textarea {
  /* width: 75%; */
  margin-top: 20px;
  margin-bottom: 20px;
}


.render_box {
  padding: 5%;
  background-color: rgba(12, 12, 12, 0.959);
}

.btn {
  background-color: aquamarine;
}

#message_input {
  vertical-align: top;
  min-height: 200px;
  overflow-wrap: break-word;
}


.footer {
  /* background-color: rgba(12, 12, 12, 0.959); */
  /* remove this to move it to the bottom of the body */
  /* position: fixed; */
  padding-top: 10px;
  width: 100%;
  bottom: 0;
  /* color: white; */
  font-size: 25px;
  text-align: center;
 }


 i {
   margin: 10px;
   border-radius: 20px;
 }

.fa-brands {
  color: rgba(255, 255, 255, 0.836);
}
.fa-brands:hover {
  opacity: 50%;
}

.fa-solid {
  color: rgba(255, 255, 255, 0.836);
}

.fa-solid:hover {
  opacity: 50%;
}






/* .portfolio_container {
  background-color: darkblue;
} */

.row {
  /* height: 250px; */
  /* background-color: aquamarine; */
  /* margin: 1%; */
}

.col-sm {
  background-color: blueviolet;
  height: 200px;
  margin: 1%;



  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;


  background-position: center;
  background-size: cover;

}

.col-sm p {
  text-align: center;
  opacity: 0%;
  transition-duration: 1s;
  font-size: 40px;
}
.col-sm:hover p {
  opacity: 100%;
}

.col-sm p a {
  text-decoration: none;
}

.col-sm p a:hover {
  color:rgb(206, 0, 224)
}


.hobbyhub {
  background-image: url('../images/HobbyPage.png');
}
.hobbyhub:hover {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/HobbyPage.png");
}

.textpop {
  background-image: url('../images/textpop.png');
}
.textpop:hover {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/textpop.png");
}

.tpg {
  background-image: url('../images/tpg.png');
}
.tpg:hover {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/tpg.png");
}

.bsapi {
  background-image: url('../images/bsapi.png');
}
.bsapi:hover {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/bsapi.png");
}

.sqled {
  background-image: url('../images/sqled.png');
}
.sqled:hover {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/sqled.png");
}

.wds {
  background-image: url('../images/wds.jpg');
}
.wds:hover {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/wds.jpg");
}

